layout {
 pane {
        split_direction "vertical"
        pane name="Code" cwd="~/Code/txtbk-req-python-subprocess/python_functions" 
	    pane split_direction="horizontal" {
	        pane {
                split_direction "vertical"
                pane name="Testing" cwd="~/Code/txtbk-req-python-subprocess/python_functions)"
	            pane name="DIR" cwd="~/Code/txtbk-req-python-subprocess"
            }
            pane name="-" command="cmatrix"
        }
    }
}


