layout {
 pane {
        split_direction "vertical"
        pane cwd="~/Code/LinuxTools/SystemSetup/zlayouts"
	    pane split_direction="horizontal" {
	        pane name="Reference" cwd="/home/compy/Code/Linuxtools/SystemSetup/zlayouts"
	        pane name="m" command="cmatrix"
        }
    }
}


